@charset "UTF-8";
/* @describe: 这个文件为出口文件请勿添加太多样式
 * @author: 上官靖宇
 * @date: 2020/10/30
 */
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
// 重置样式
@import "reset";
// 变量值
@import "vriable";
// 公用样式
@import "public";


