@charset "UTF-8";
/* @describe: 这个文件为公用样式，可以定义公用的样式
 * @author: 上官靖宇
 * @date: 2020/10/30
 */

/*loading-center*/
.loading-page {
  text-align: center;
  top: 50%;
}
/*ellipsis-溢出隐藏*/
.ellipsis {
  @include ellipsis;
}

/*浮动相关*/
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clear {
  clear: both;
}
/*购物车图标*/
.cart-icon-wrap {
  text-align: right;
  vertical-align: center;
  .cart-icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    padding: 4px;
    border-radius: 50%;
    background-color: #42BE69;
  }
}

